body {
  box-sizing: border-box;
  background-color: gray;
  font-size: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 24px;
}

h2 {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 18px;
  margin-left: 58px;
}

.card-showcase {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
