<div class="card" [ngClass]="classes" (click)="zoom=!zoom">
  <div class="card__border">
    <div class="card__safe-zone">
      <div class="card__content">
        <div class="card__balloon">
          <div class="card__balloon_type-logo"></div>
          <span>{{character.type}}</span>
        </div>
        <div class="card__content__top">
          <div class="character-name">
            <h1 *ngIf="character && character.name.length<=10">{{character.name}}</h1>
            <h2 *ngIf="character && character.name.length>10">{{character.name}}</h2>
          </div>
        </div>
        <div class="card__content__bottom">
          <div class="card__artwork">
            <img [src]="character.imageUrl" />
          </div>
          <div class="card__details">
            <div class="card__details__flavor-text">
              {{character.flavorText}}
            </div>
            <div class="card__details__effect">
              {{character.effects}}

            </div>
          </div>
          <div class="card__stats">
            <div class="card__stats__left">
              <h1>{{character.attack}}</h1>
              <img src="../../assets/attack-symbol.png" />

            </div>
            <div class="card__stats__center">
              <span>{{character.price}}</span>
            </div>
            <div class="card__stats__right">
              <h1>{{character.health}}</h1>
              <img src="../../assets/health-symbol.png" />
            </div>
          </div>

        </div>
        <div class="border__facts">
          <span class="border__facts__rarity">{{character.rarity}}</span>
          <span class="border__facts__number">#{{character.number}}</span>
        </div>
      </div>
    </div>
  </div>
