$background-color--nature : #C1DC60;

h1 {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 24px;
}

h2 {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 18px;
}


.card {
  /* background-image: url("poker-card.png");
    background-size: contain; */
  max-height: 390px;
  max-width: 290px;
  min-height: 390px;
  min-width: 290px;
  display: flex;
  left: 0;
  top: 0;
  position: relative;

  cursor: pointer;
  z-index: 1;
  transition: all 0.5s ease-out;

  &.zoom {
    transform: scale(2.0) translateY(80px) translateX(80px) rotateZ(360deg);
    z-index: 100;
    transition: all 0.5s ease-in;
  }
}

.card__border {
  flex-grow: 1;
  margin: 12px 14px 14px 14px;
  border-radius: 12px;
  display: flex;
  box-shadow: 10px 10px;
  background-color: #F6F2EB;

}

.card__safe-zone {
  border: 2px solid black;
  display: flex;
  flex-grow: 1;
  margin: 10px 12px 10px 10px;
  border-radius: 12px;
}

.card__content {
  flex-grow: 1;
  border-radius: 12px;
  flex-direction: column;
  display: flex;

  .nature & {
    background-color: $background-color--nature;

  }

  .card__content__top {
    height: 50px;
    display: flex;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    .character-name {
      margin-left: 74px;
      margin-right: 10px;
      justify-content: center;
    }
  }

  .card__content__bottom {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border: 2px solid black;
    margin-bottom: 10px;
    background: #E0EEC6;
  }
}




.card__balloon {
  position: absolute;
  z-index: 1;
  height: 70px;
  width: 70px;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  background: #E0EEC6;
  border-bottom-right-radius: 90px;
  border-top-left-radius: 20px;
  font-family: 'Allerta Stencil', sans-serif;

  /* border-top-right-radius: 90px; */
  /* border-radius: 100px; */
  /* border: 2px solid black; */
  /* left: -20px; */
  span {
    display: block;
    margin-left: 6px;
    margin-top: 5px;
  }

  span::first-letter {
    text-transform: uppercase;
  }

  .card__balloon_type-logo {
    display: block;
    height: 40px;
    width: 40px;
    background: #B2BB65;
    border-radius: 20px;
    position: relative;
    top: 4px;
    left: 6px;
  }
}



.card__artwork {
  display: flex;
  border-bottom: 2px solid black;

  .pickle & {
    background: #B2BB65;

  }

  img {
    object-fit: contain;
    /* align-self: center; */
    /* flex: 0 0 auto */
    height: 180px;
    width: 100%;
  }
}

.card__details {
  /* font-family: 'Amaranth', sans-serif; */
  font-family: 'Basic', sans-serif;
  height: 60px;
  flex-direction: row;
  display: flex;
  border-bottom: 2px solid black;
  font-size: 9px;
  justify-content: space-between;

  .card__details__flavor-text {
    padding: 2px;
    padding-left: 4px;
    justify-self: flex-start;
    border-right: 2px solid black;
    flex: 1;
  }

  .card__details__effect {
    justify-self: flex-end;
    flex: 1;
    padding: 2px;
    padding-left: 4px;

  }
}





.card__stats {
  display: flex;

  .card__stats__left {
    width: 40%;
    height: 34px;
    border-right: 2px solid black;
  }

  .card__stats__center {
    width: 20%;
    height: 34px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;

    span {
      display: block;
      border: 2px solid black;
      border-radius: 100px;
      width: 28px;
      height: 28px;
      text-align: center;
      background: #FEC717;
    }
  }

  .card__stats__right {
    width: 40%;
    height: 34px;

    border-left: 2px solid black;

  }

}




.card__number {}

.card__rarity {}
