.top {
  display: flex;
  flex-direction: column;
  background: #444444;
  font-family: 'Basic', sans-serif;
  color: #FEC717;

  .top__title {
    justify-self: center;
    align-self: center;
    height: 40px;
    font-size: 28px;
    margin-top: 10px;
  }

  .top__credits {
    align-self: flex-end;
    margin-left: auto;
    margin-bottom: 10px;
    margin-right: 10px;
  }
}


.app {
  width: 100vw;
  height: 100vh;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#444444+0,b8b9b9+100 */

  background: #9E9FA0;
}
